# Punto 1

In [5]:
import pandas as pd

In [13]:
info: pd.DataFrame = pd.read_csv('ford.csv')
info = info[:10000]

In [16]:
info.describe(include='object')

          model transmission fuelType
count     10000        10000    10000
unique       18            3        4
top      Fiesta       Manual   Petrol
freq       3749         8945     6836

# Punto 2

Realizar un análisis exploratorio de los datos. Se recomienda utilizar gráficos para visualizar la distribución de los datos y la correlación entre los atributos. Se recomienda utilizar la librería seaborn para realizar los gráficos.

In [6]:
import seaborn as sns